@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 320px;
    color: #5e564e;
    @include m;
    font-size: 14px;
    line-height: 1.6;
}
a{
    color:#5e564e;
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
}
.l-layout {
    position: relative;
    @include clr;
    padding-top: 40px;
    &:before {
        content: "";
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #fdfdfd;
    }
}
.l-layout__border {
    position: absolute;
    z-index: 1;
    right: 35.4%;
    top: 0;
    bottom: 0;
    width: 10px;
    background: url(../img/sidebar-border.png) 0 0 repeat-y;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @include clr;
}
.l-container {
    margin: 0 auto;
    max-width: 960px;
}
.clr {
    clear: both;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    z-index: 1000;
    position: relative;
    padding: 14px 0;
    background: #fff;
    @include box-shadow( 0 3px 5px rgba(0,0,0,.2));
    .l-container {
        @include clr;
    }
}
.logo {
    @extend %hide-text;
    float: left;
    margin-right: 100px;
    @include sized-sprite($icons, logo);
}
.menu {
    @include clr;
    float: left;
    padding-top: 5px;
    li {
        float: left;
        margin-right: 38px;
    }
    .is-active {
        a {
            color: #97be0f;
            &:hover {
               color: #97be0f; 
               text-decoration: none;
            }
        }
    }
}
.search {
    float: right;
    padding-top: 4px;
    .input {
        width: 140px;
        vertical-align: middle;
        @include placeholder(#aeaaa6, 'Raleway', 400);
    }
}
.search__btn {
    vertical-align: middle;
    @extend %hide-text;
    @include sized-sprite($icons, glass);
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.main {
    width: 62.5%;
    float: left;
    @include box-sizing(border-box);
}

.title-l-1 {
    font-size: 30px;
    font-weight: normal;
}
.title-l-2 {
    font-size: 20px;
    @include b;
}
.categ-name {
    display: inline-block;
    font-size: 11px;
    color: #97be0f;
    @include b;
    text-transform: uppercase;
}
.input {
    padding: 0 4px;
    height: 25px;
    border: 1px solid #b9b5b2;
    background: #fff;
    color: #5e564e;
    @include m;
    font-size: 14px;
    @include box-sizing(border-box);
    &:focus {
        border-color: #818181;
    }
}
.btn {
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    background: #b9b5b2;
    @include m;
    color: #fff;
    font-size: 12px;
    @include box-sizing(border-box); 
    &:hover {
        background: #b3b1ae;
    }
    &:active {
        background: #9a9794;
    }
}

.simple-link {
    display: block;
    padding: 5px 0;
    color: #aeaaa6;
    font-size: 16px;
    @include b;
    text-align: center;
    @include transition(all 200ms linear);
    border: 1px solid #d6d4d2;
    &:hover {
        text-decoration: none;
        border-color: #e5e2df;
    }
    &:active {
        border-color: #b5b4b3;
    }
}

.post-wrap {
    
}
.post {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 3.3%;
    width: 48%;
    @include transition(all 200ms linear);
    &:nth-child(2n) {
        margin-left: 3.2%;
    }
    &:hover {
        position: relative;
        z-index: 2;
        @include box-shadow(0 0 10px rgba(94,86,78,.5));
        a {
            text-decoration: underline;
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.post__main {
    padding: 4% 3% 7% 7%;
    border: 1px solid #d6d4d2;
    border-top: 0;
}
.post__title {
    font-size: 24px;
    @include n;
    line-height: 1.4;

}
.pagin {
    margin-bottom: 51px;
    text-align: center;
    a {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #d6d4d2;
        font-size: 18px;
        @include b;
        color: #aeaaa6;
        @include box-sizing(border-box); 
        @include transition(all 200ms linear);
        &:hover {
            color: #5e564e;
            text-decoration: none;
        }
    }
    .is-active {
        background: #97be0f;
        color: #fff;
        border-color: #97be0f;
        &:hover {
            color: #fff;
        }
    }
}
.expert {
    margin-top: 20px;
}
.expert__item {
    display: inline-block;
    width: 48%;
    margin-bottom: 3.7%;
    &:nth-child(2n) {
        margin-left: 3.2%;
    }
    img {
        float: left;
        margin-right: 7%;
    }
}
.expert__link {
    display: block;
    @include clr;
    background: #fff;
    border: 1px solid transparent;
    @include transition(all 200ms linear);
    &:hover {
        text-decoration: none;
        border: 1px solid rgba(174,170,166,.5);
        @include box-shadow(0 0 10px rgba(94,86,78,.5));
        .expert__name {
            text-decoration: underline;
        }
    }
}
.expert__main {
    font-size: 14px;
    color: #aeaaa6;
    overflow: hidden;
    @include b;
}
.expert__name {
    display: block;
    @include m;
    font-size: 18px;
    color: #5e564e;
}
.expert_vertical {
    .expert__item {
        display: block;
        width: 100%;
        margin-bottom: 6.7%;
        border-top: 1px solid #d6d4d2;
        &:first-child {
            border-top: 0;
        }
        &:nth-child(2n) {
            margin-left: 0;
        }
        img {
            float: right;
            margin-right: 0;
        }
    }
    .expert__link {
        padding-top: 6.7%;
        border: 0;
        &:hover {
            text-decoration: none;
            border: 0;
            @include box-shadow(none);
            .expert__name {
                text-decoration: underline;
            }
        }
    }
}

.slider{
    position: relative;
}
.slider__nav {
    position: absolute;
    right: 0;
    top: 0;
    .disabled {
        border: 1px solid transparent; 
        cursor: default;
        &:hover {
            border: 1px solid transparent; 
            cursor: default;
        }
    }
}
.slider__prev,
.slider__next {
    display: inline-block;
    padding: 4px 0;
    width: 30px;
    text-align: center;
    background: none;
    font-size: 18px;
    @include b;
    color: #aeaaa6;
    @include box-sizing(border-box); 
    border: 1px solid #d6d4d2;
}
.icon {  
    display: inline-block;
}
.icon_earth {@include sized-sprite($icons, earth);}
.icon_calendar {@include sized-sprite($icons,cal);}
.icon_clock {@include sized-sprite($icons,clock);}
.icon_heard {@include sized-sprite($icons,heard);}
.icon_man {@include sized-sprite($icons,man);}
.icon_marker {@include sized-sprite($icons,marker);}


.drop-list-wrap {
    position: relative;
    height: 42px;
    .is-active {
        z-index: 2;
        @include box-shadow(0 0 5px rgba(94,86,78,.5));
        .drop-list__head {
            border-color: #fff;
            color: #5e564e;
            z-index: 2;
            &:after {
                @include opacity(1);
            }
        }
    }
}
.drop-list {
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
    background: #fff;
    @include box-sizing(border-box);
    &:first-child {
        left: 0;
        right: auto;
        width: 151px;
    }
}
.drop-list__head {
    position: relative;
    height: 36px;
    padding: 4px 35px 6px 11px;
    background: #fff;
    border: 1px solid #d6d4d2;
    cursor: pointer;
    color: #aeaaa6;
    font-size: 18px;
    @include box-sizing(border-box);
    @include b;
    &:after {
        content: "";
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -5px;
        @include opacity(.5);
        @include sized-sprite($icons, arr);
    }
    &:hover {
        color: #5e564e;
        &:after {
            @include opacity(1);
        }
    }
}
.drop-list__body {
    padding: 0 10px 14px;
    background: #fff;
    font-size: 12px;
    ul {
        @include clr;
    }
    li {
        float: left;
        margin-bottom: -3px;
        width: 50%;
        font-size: 18px;
        @include b;
        cursor: pointer;
        text-align: center;
        &:hover {
            color: #97be0f;
        }
    }
}

.drop-list-wrap_width {
    width: 65%;
    .drop-list {
        width: 48%;
        &:first-child {
            width: 48%;
        }
    }
}

/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    padding-top: 35px;
    @include clr;
    border-top: 1px solid #d6d4d2;
}
.footer__col {
    float: left;
    padding-bottom: 39px;
    width: 50%;
    @include box-sizing(border-box);    
}
.footer__title {
    display: block;
    margin-bottom: 9px;
    font-weight: 600;
}
.footer__nav {
    margin-bottom: 34px;
}
.footer__form {
    margin-top: 23px;
    @include clr;
    .input {
        float: left;
        width: 72%;
    }
    .btn {
        float: left;
        width: 28%;
    }
}
.soc {
    li {
        float: left;
        margin-bottom: 9px;
        width: 50%;
    }
    a {
        position: relative;
        padding-left: 29px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.soc__em {
    &:before {
        @include sized-sprite($icons, em);   
    }
}
.soc__gp {
    &:before {
        @include sized-sprite($icons, gp);   
    }
}
.soc__fb {
    &:before {
        @include sized-sprite($icons, fb);   
    }
}
.soc__yt {
    &:before {
        @include sized-sprite($icons, yt);   
    }
}
.soc__tw {
    &:before {
        @include sized-sprite($icons, tw);   
    }
}
.soc__pt {
    &:before {
        @include sized-sprite($icons, pt);   
    }
}
.copyright {
    padding: 17px 0;
    clear: both;
    font-size: 12px;
    color: #aeaaa6;
    @include b;
    text-align: center;
    border-top: 1px solid #d6d4d2;
}
/* -------------------------------------- //END Footer ------------------------------------------- */