@import "base";
.big-slider {
    position: relative;
    .l-container {
        position: relative;
        height: 1px;
    }
    .slider__nav {
        position: absolute;
        right: 0;
        top: auto;
        bottom: 10px;
        z-index: 100;
        button {
            background: #97be0f;
            color: #fff;
            border: 0;
        }
    }
}
.big-slider__item {
    height: 200px;
    width: 100%;
    background-position: 50% 0;
    background-repeat: repeat-x;
    .l-container {
        height: 200px;
        line-height: 200px;
        @include clr;
    }
    .info-item {
        width: 310px;
        float: right;
        position: relative;
        top: 50px;
    }
}
.big-slider__title {
    padding-left: 4.3%;
    display: inline-block;
    @include box-sizing(border-box);
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    span {
        display: block;
        font-size: 60px;
    }
}
.info-item {
    color: #fff;
    line-height: 1.3;
    background: #97be0f;
    @include clr;
    a {
        @include b;
        font-size: 12px;
        color: #fff;
        text-decoration: underline;
    }
    img {
        float: right;
    }
}
.info-item__main {
    float: left;
    max-width: 203px;
    padding: 5px 10px;
    @include box-sizing(border-box);
}
.info-item__title {
    font-size: 18px;
    @include b;
}
.sticky-post {
    font-size: 16px;
    margin-bottom: 31px;
    img {
        margin: 0 auto;
        width: 100%;
    }
    .categ-name {
        margin-bottom: -7px;
    }
}
.our-themes {
    margin-top: 52px;
    .cycle-slideshow {
        width: 100% !important;
        margin: 20px 0 55px;
        a {
            margin-right: 20px;
        }
        div {
            position: relative;
            span {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 2px 10px;
                background: #5e564e;
                overflow: hidden;
                color: #fff;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .content {
        font-size: 14px;
        p {
            margin-bottom: 23px;
        }
    }
}