@import "base";
.content {
    @include clr;
    margin-bottom: 7%;
    p {
        margin: 3.7% 0;
    }
    a {
        color: #97be0f;
    }
    h6 {
        font-size: 14px;
        @include b;
    }
    blockquote {
        margin: 5% 0;
        padding: 0 3.5%;
        font-size: 16px;
        color: #aeaaa6;
        @include sb;
        border-left: 1px solid #d6d4d2;
        p {
            margin-bottom: 3%;
        }
        strong {
            @include b;
        }
    }
    figure {
        float: left;
        width: 49%;
        margin: 0 3.4% 3.4% 0;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        span {
            display: block;
            text-align: right;
            color: #aeaaa6;
            font-size: 10px;
        }
    }
    figcaption {
        clear: both;
        font-size: 12px;
        @include b;
    }
    ul {
        list-style: disc;
        padding-left: 20px;
    }
    .wrapper {
        ul {
            float: left;
            width: 45%;
        }
    }
    .contact {
        float: right;
        width: 48%;
    }
    .contact__map {
        margin-bottom: 4%;
    }
}
.content-descr {
    margin-bottom: 3%;
    font-size: 16px;
}
.content-nav {
    @include clr;
    margin-bottom: 3%;
    .soc-like {
        float: left;
        margin: 5px 0 0;
    }
}
.content-nav__next,
.content-nav__prev {
    float: right;
    padding: 0 10px;
    @include b;  
    font-size: 12px;
    background: #aeaaa6;
    color: #fff;
    &:hover {
        text-decoration: none;
        background: #97be0f;
    }
    span {
        @include sb;
        font-size: 18px;
    }
}
.content-nav__prev {
    float: left;
    margin-right: 10px;
}
.content-info {
    color: #aeaaa6;
    font-size: 12px;
}
 
.info-widget {
    margin: 3% 0 8.5%;
    padding: 3.4%;
    font-size: 12px;
    border: 1px solid #d6d4d2;
    @include clr;
    img {
        float: right;
        margin-left: 3%;
    }
}
.info-widget__title {
    font-size: 16px;
    @include sb;
    margin-bottom: 3%;
}
.info-widget__text {
    overflow: hidden;
    .link-bg {
        margin-top: 3%;
    }
}

.link-bg {
    display: inline-block;
    padding: 3px 5.4%;
    font-size: 12px;
    color: #fff;
    background: #aeaaa6;
    @include b;
    &:hover {
        text-decoration: none;
        background: #97be0f;
    }
}

.post-preview {
    @include clr;
    margin-top: 12px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.img-copyright {
    font-size: 10px;
    float: right;
    color: #aeaaa6;
}
.filter {
    @include clr;
    margin-bottom: 4%;
    .drop-list-wrap_width {
        float: left;
    }
}
.link-map {
    float: right;
    width: 32.5%;
    padding: 8px 0;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: #aeaaa6;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
    .icon, span {
        vertical-align: middle;
    }
    .icon {
        margin-right: 7px;
    }
}
.link-map.is-active {
    background: #97be0f;
}
.expert-post {
    margin-bottom: 3%;
    @include box-sizing(border-box);
    border: 1px solid #d6d4d2;
    @include transition(all 200ms linear);
    &:hover {
        @include box-shadow(0 0 10px rgba(94,86,78,.5));
    }
}
.expert-post__head {
    @include clr;
    background: #5e564e;
    img {
        float: left;
        margin-right: 10px;
    }
    span {
        color: #aeaaa6;
        display: block;
        @include b;
    }
    a {
        font-size: 18px;
        color: #fff;
    }
}
.expert-post__body {
    padding: 0 7%;
    li {
        @include clr;
        padding: 6% 0;
        border-top: 1px solid #d6d4d2;
        &:first-child {
            border-top: 0;
        }
    }
    div {
        overflow: hidden;
        margin-right: 80px;
    }
    img {
        float: right;
    }
}
.expert-post__footer {
    @include clr;
    padding: 4% 7%;
    border-top: 1px solid #d6d4d2;
    a {
        display: inline-block;
        color: #97be0f;
        @include b;
        &:first-child {
            margin-right: 10%;
        }
    }
}

.map {
    iframe {
        display: block;
    }
}

.gallery {
    overflow: hidden;
    .title-l-1 {
        margin-bottom: 2%;
    }
    .cycle-slideshow {
        margin-bottom: 3.4%;
    }
}
.gallery__preview {
    margin-right: -6%;
    @include clr;
    img {
        float: left;
        cursor: pointer;
        margin: 0 3.4% 3.4% 0;
    }
}

.contacts-wrap {
    margin: 7% 0;
    @include clr;
    .title-l-2 {
        
    }
}
.contacts-wrap_mod {
    margin: 0 0 7%;
}

.contact {
    float: left;
    width: 48%;
    &:nth-child(2n) {
        float: right;
    }
}
.contact__map {
    height: 165px;
    margin-bottom: 9%;
    iframe {
        height: 100%;
        width: 100%;
    }
}
.contact__link {
    display: block;
    padding: 4px 0;
    text-align: center;
    font-size: 14px;
    @include b;
    color: #fff;
    background: #aeaaa6;
    @include transition(all 200ms linear);
    &:hover {
        text-decoration: none;
        background: #97be0f;
    }
}
.contact__link.is-active {
    background: #97be0f;
}
.contact__marker { 
    span,i {
        color: #5e564e;
        vertical-align: middle;
    }
    i {
        margin-right: 5px;
    }
    &:hover {
        text-decoration: none;
    }
}
.contact__address {
    position: relative;
    padding-left: 30px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @include sized-sprite($icons, marker2);
    }
}
.contact-form  {
    clear: both;
}
.contact-form__title {
    display: block;
    padding: 20px 0 10px;
    @include b;
    font-size: 12px;
}

.soc-like {
    margin: 7% 0;
}

.expert-cont {
    @include clr;
    padding-top: 1%;
    margin-bottom: 5%;
}
.expert-cont__left {
    float: left;
    margin-right: 3.4%;
    width: 31%;
    img {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }
}
.expert-cont__right {
    overflow: hidden;
    p {
        margin: 3% 0;
    }
}
.expert-cont__title {
    font-size: 16px;
    @include m;
    margin-bottom: 3%;
}