@import "base";
.sidebar {
    position: relative;
    z-index: 2;
    float: right;
    width: 340px;
    padding: 0 20px;
    @include box-sizing(border-box);
    background: #fff;
}
.banner {
    display: block;
    margin: 13% 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.title {
    margin: 7% 0;
    padding: 6px 14px;
    background: #5e564e;
    @include b;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #f4f4f3;
    border-bottom: 1px solid #f4f4f3;
    .icon,span {
        vertical-align: middle;
    }
    .icon {
        margin-right: 12px;        
    }
}

.post-sidebar-wrap {
    
}
.post-sidebar {
    padding: 0 0 5%;
    margin: 7% 0;
    border-bottom: 1px solid #d6d4d2;
    &:last-child {
        border-bottom: 0;
    }
    img {
        display: block;
        margin-bottom: 4.5%;
        width: 100%;
        height: auto;
    }
}
.post-sidebar__title {
    @include b;
}
.post-sidebar__descr {
    color: #aeaaa6;
    font-size: 14px;
}

.tab {
    @include clr;
    li {
        float: left;
        margin-left: 3px;
        padding: 8px 5px 8px 10px;
        width: 98px;
        @include b;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        @include box-sizing(border-box);
        background: #aeaaa6;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        .icon {
            margin-right: 3px;
        }
        .icon, span {
            vertical-align: bottom;
        }
    }
    .is-active {
        background: #97be0f;
    }
}
.tab-cont {
    display: none;
}
.drop-list-wrap {
    position: relative;
    height: 42px;
    .is-active {
        z-index: 2;
        @include box-shadow(0 0 5px rgba(94,86,78,.5));
        .drop-list__head {
            border-color: #fff;
            color: #5e564e;
            z-index: 2;
            &:after {
                @include opacity(1);
            }
        }
    }
}
.drop-list {
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
    background: #fff;
    @include box-sizing(border-box);
    &:first-child {
        left: 0;
        right: auto;
        width: 151px;
    }
}
.drop-list__head {
    position: relative;
    height: 42px;
    padding: 7px 35px 6px 11px;
    background: #fff;
    border: 1px solid #d6d4d2;
    border-top: 0;
    cursor: pointer;
    color: #aeaaa6;
    font-size: 18px;
    @include box-sizing(border-box);
    @include b;
    &:after {
        content: "";
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -5px;
        @include opacity(.5);
        @include sized-sprite($icons, arr);
    }
    &:hover {
        color: #5e564e;
        &:after {
            @include opacity(1);
        }
    }
}
.drop-list__body {
    padding: 0 10px 14px;
    background: #fff;
    font-size: 12px;
    ul {
        @include clr;
    }
    li {
        float: left;
        margin-bottom: -3px;
        width: 50%;
        font-size: 18px;
        @include b;
        cursor: pointer;
        text-align: center;
        &:hover {
            color: #97be0f;
        }
    }
}

.pop-list {
    
}
.pop {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #d6d4d2;
    @include clr;
    @include b;
    font-size: 16px;
    .categ-name {
        display: block;
    }
    a {
       @include b;
        font-size: 16px; 
    }
    &:first-child {
        border-top: 0;
    }
    img {
        float: right;
        margin-top: 9px;
    }
}
.pop__main {
    float: left;
    width: 200px;
}