@import "base";
.sidebar {
    position: relative;
    z-index: 2;
    float: right;
    width: 340px;
    padding: 0 20px;
    @include box-sizing(border-box);
    background: #fff;
    .drop-list__head {
        border-top: 0;
    }
}
.banner {
    display: block;
    margin: 13% 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.title {
    margin: 7% 0;
    padding: 6px 14px;
    background: #5e564e;
    @include b;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #f4f4f3;
    border-bottom: 1px solid #f4f4f3;
    .icon,span {
        vertical-align: middle;
    }
    .icon {
        margin-right: 12px;        
    }
}

.post-sidebar-wrap {
    
}
.post-sidebar {
    padding: 0 0 5%;
    margin: 7% 0;
    border-bottom: 1px solid #d6d4d2;
    &:last-child {
        border-bottom: 0;
    }
    img {
        display: block;
        margin-bottom: 4.5%;
        width: 100%;
        height: auto;
    }
}
.post-sidebar__title {
    @include b;
}
.post-sidebar__descr {
    color: #aeaaa6;
    font-size: 14px;
}

.tab {
    @include clr;
    li {
        float: left;
        margin-left: 3px;
        padding: 8px 5px 8px 10px;
        width: 98px;
        @include b;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        @include box-sizing(border-box);
        background: #aeaaa6;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        .icon {
            margin-right: 3px;
        }
        .icon, span {
            vertical-align: bottom;
        }
    }
    .is-active {
        background: #97be0f;
    }
}
.tab-cont {
    display: none;
}


.pop-list {
    
}
.pop {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #d6d4d2;
    @include clr;
    @include b;
    font-size: 16px;
    .categ-name {
        display: block;
    }
    a {
       @include b;
        font-size: 16px; 
    }
    &:first-child {
        border-top: 0;
    }
    img {
        float: right;
        margin-top: 9px;
    }
}
.pop__main {
    float: left;
    width: 200px;
}